@tailwind base;
@tailwind components;
@tailwind utilities;

/* v index.css */
body {
  background-color: white;
  overflow: scroll;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}
